{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
        AdminLTE 3 | Fixed Sidebar
      {% endblock %}
    </title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}" />

    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}" />

    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'assets/css/adminlte.min.css' %}" />
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      {% include 'components/navbar.html' %}
      {% include 'components/sidebar.html' %}

      <div class="content-wrapper">
        {% include 'components/content_header.html' %}
        <section class="content">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <!-- Default box -->
                {% block content %}
                
                {% endblock  %}
                <!-- /.card -->
              </div>
            </div>
          </div>
        </section>
  
      </div>

      {% include 'components/footer.html' %}
      {% include 'components/scripts.html' %}
    </div>
  </body>
</html>
